@import url(global.css);
#Agilizei{
    overflow: hidden;
    img{
        position: absolute;
        height: 50vh;
        transform: translate(-2%, 50%);
        z-index: -1;
    }
    div:has(h1){
        background: url(../Img/bg\ 1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-block: 10vh;
        text-align: center;
        z-index: 10;

        h1{
            color: white;
            font: var(--about-h1);

            strong{
                color: #424B9C;
                font: var(--strong-h1);
                background-color: white;
                padding-inline: 0.5rem;
            }
        }
    }
    div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2{
            color: white;
            font: var(--about-h2);
            padding: 3rem 0 0 3rem;
        }
        div{
            padding-inline: 3rem;
            display: inherit;
            flex-direction: row;
            text-align: left;
            align-items: flex-end;

            p{
                color: white;
                font: var(--about-p);
                width: 50%;
            }
        }
    }
}