@import url(global.css);

#Home{
    background: url('../Img/Background\ 1.png') center/cover no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-shadow: inset 0 0 0 200px 20px #424B9C;

    img{
        width: 46%;
        height: auto;
        transform: translateY(15rem);
        z-index: 0;
    }
    h1{
        color: white;
        font: var(--home-h1);
        transform: translate(6rem,-10rem);
        padding-inline: 0 54%;
    }
    p{
        color: white;
        font: var(--home-p);
        transform: translate(6rem,-9rem);
        padding-inline: 0 73%;
    }

}
#Home::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
      rgb(49, 58, 158),
      rgba(49, 58, 158, 0.808),
      rgba(49, 58, 158, 0.2),
       transparent
     ),linear-gradient(
      to top,
     rgb(49, 58, 158),
     rgba(49, 58, 158, 0.808),
     rgba(49, 58, 158, 0.2),
     transparent
    );
}